<div class="container">
  <br />
  <nav class="nav justify-content-center">
    <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/yellow-road-sign-icons-signs/097018-yellow-road-sign-icon-signs-z-roadsign13.png" width="60" height="60" class="d-inline-block align-top" alt="">
    <h1>
      Bienvenido a {{ title }}!
    </h1>
  </nav>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped" id="table-vehiculos">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Placa</th>
            <th scope="col">Tipo vehículo</th>
            <th scope="col">Fecha de entrada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comprobante of comprobantes">
            <td>{{comprobante.placa}}</td>
            <td>{{comprobante.tipoVehiculo}}</td>
            <td>{{comprobante.fechaEntrada | date:'medium'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="nav-contact-tab" routerLink="/ingresar">Ingresar vehículo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-contact-tab" routerLink="/sacar">Sacar vehículo</a>
            </li>
      </ul>
      <hr />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>