<form novalidate [formGroup]="removeForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="inputPlaca2" class="col-sm-4 col-form-label">Placa:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="placa" id="inputPlaca2" placeholder="Placa">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button id="refresh-btn-salir" type="submit" class="btn btn-secondary" [disabled]="!removeForm.valid">
          <i class="fas fa-minus"></i>
          Sacar vehículo
        </button>
      </div>
    </div>
    <br />
</form>
<nav class="navbar navbar-light bg-light" *ngIf="comprobante!=null">
  <div class="row">
    <div class="col-md-2">
        <i class="fas fa-clipboard-list tamano"></i>
    </div>
    <div class="col-md-10">
      <h5>Comprobante de pago</h5>
    </div>
  </div>
</nav>
<hr />
<div class="container">
<ul class="list-group list-group-flush" *ngIf="comprobante!=null">
    <li class="list-group-item"><i class="fas fa-id-card"></i>      Placa: {{comprobante.placaFk}}</li>
    <li class="list-group-item"><i class="far fa-calendar-alt"></i>     Fecha entrada: {{comprobante.fechaEntrada | date:'short'}}</li>
    <li class="list-group-item"><i class="far fa-calendar-alt"></i>     Fecha salida: {{comprobante.fechaSalida | date:'short'}}</li>
    <li class="list-group-item"><i class="far fa-clock"></i>      Total horas: {{comprobante.totalHoras}}</li>
    <li class="list-group-item"><i class="far fa-money-bill-alt"></i>     Total a pagar: {{comprobante.totalPagar}} $</li>
  </ul>
</div>
<script>
    $(document).ready(function() {
        $("#refresh-btn-salir").on("click", function() {
           $( "#table-vehiculos" ).load( "sacar-vehiculo.component.html #table-vehiculos" );
        });
    });
  </script>